In [1]:
import pandas as pd

In [2]:
teams=pd.read_csv("C:/Users/HP/Olympic_Medal_Prediction/teams.csv")

In [3]:
teams

,team,country,year,events,athletes,age,height,weight,medals,prev_medals,prev_3_medals
0,AFG,Afghanistan,1964,8,8,22.0,161.0,64.2,0,0.0,0.0
1,AFG,Afghanistan,1968,5,5,23.2,170.2,70.0,0,0.0,0.0
2,AFG,Afghanistan,1972,8,8,29.0,168.3,63.8,0,0.0,0.0
3,AFG,Afghanistan,1980,11,11,23.6,168.4,63.2,0,0.0,0.0
4,AFG,Afghanistan,2004,5,5,18.6,170.8,64.8,0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
2139,ZIM,Zimbabwe,2000,19,26,25.0,179.0,71.1,0,0.0,0.0
2140,ZIM,Zimbabwe,2004,11,14,25.1,177.8,70.5,3,0.0,0.0
2141,ZIM,Zimbabwe,2008,15,16,26.1,171.9,63.7,4,3.0,1.0
2142,ZIM,Zimbabwe,2012,8,9,27.3,174.4,65.2,0,4.0,2.3
2143,ZIM,Zimbabwe,2016,13,31,27.5,167.8,62.2,0,0.0,2.3

In [4]:
teams = teams[["team","country","year","events","athletes","age" ,"medals","prev_medals"]]

In [5]:
teams

     team      country  year  events  athletes   age  medals  prev_medals
0     AFG  Afghanistan  1964       8         8  22.0       0          0.0
1     AFG  Afghanistan  1968       5         5  23.2       0          0.0
2     AFG  Afghanistan  1972       8         8  29.0       0          0.0
3     AFG  Afghanistan  1980      11        11  23.6       0          0.0
4     AFG  Afghanistan  2004       5         5  18.6       0          0.0
...   ...          ...   ...     ...       ...   ...     ...          ...
2139  ZIM     Zimbabwe  2000      19        26  25.0       0          0.0
2140  ZIM     Zimbabwe  2004      11        14  25.1       3          0.0
2141  ZIM     Zimbabwe  2008      15        16  26.1       4          3.0
2142  ZIM     Zimbabwe  2012       8         9  27.3       0          4.0
2143  ZIM     Zimbabwe  2016      13        31  27.5       0          0.0

[2144 rows x 8 columns]

In [6]:
teams.corr()["medals"]

year          -0.021603
events         0.771330
athletes       0.840817
age            0.025096
medals         1.000000
prev_medals    0.920048
Name: medals, dtype: float64

In [ ]:
import seaborn as sns

In [ ]:
sns.lmplot(x="athletes",y="medals",data=teams,fit_reg=True, ci=None)

In [ ]:
sns.lmplot(x="age",y="medals",data=teams,fit_reg=True, ci=None)

In [ ]:
teams.plot.hist(y="medals")

In [ ]:
teams[teams.isnull().any(axis=1)]

In [ ]:
teams=teams.dropna()

In [ ]:
teams

In [ ]:
train =teams[teams["year"]<2012].copy()
test=teams[teams["year"]>=2012].copy()

In [ ]:
train

In [ ]:
test

In [ ]:
train.shape

In [ ]:
test.shape

In [ ]:
from sklearn.linear_model import LinearRegression

In [ ]:
reg=LinearRegression()

In [ ]:
predictors=["athletes","prev_medals"]

In [ ]:
target="medals"

In [ ]:
reg.fit(train[predictors],train["medals"])

In [ ]:
predictions=reg.predict(test[predictors])

In [ ]:
predictions

In [ ]:
test["predictions"]=predictions

In [ ]:
test

In [ ]:
test.loc[test["predictions"]<0,"predictions"]=0

In [ ]:
test

In [ ]:
test["predictions"]=test["predictions"].round()

In [ ]:
test

In [ ]:
from sklearn.metrics import mean_absolute_error

In [ ]:
error=mean_absolute_error(test["medals"],test["predictions"])

In [ ]:
error

In [ ]:
teams.describe()["medals"]

In [ ]:
test[test["team"]=="IND"]

In [ ]:
errors=(test["medals"]-test["predictions"]).abs()

In [ ]:
errors

In [ ]:
error_by_team=errors.groupby(test["team"]).mean()

In [ ]:
error_by_team

In [ ]:
medals_by_team=test["medals"].groupby(test["team"]).mean()

In [ ]:
medals_by_team

In [ ]:
error_ratio=error_by_team/medals_by_team

In [ ]:
error_ratio

In [ ]:
error_ratio[~pd.isnull(error_ratio)]

In [ ]:
import numpy as np
error_ratio=error_ratio[np.isfinite(error_ratio)]

In [ ]:
error_ratio

In [ ]:
error_ratio.plot.hist()

In [ ]:
error_ratio.sort_values()